<!DOCTYPE html>
<html>
<head>
	<title>Adding Questions</title>
	<!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/adding_question_css.css">
	<style type="text/css">
		div
		{
			border: 2px solid red;
		}
		iframe
		{
			width: 100%;
			height: 100%;
		}
	</style>

	<!-- JQUERY -->
		<script
		  src="https://code.jquery.com/jquery-3.4.1.min.js"
		  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		  crossorigin="anonymous"></script>


</head>
<body>
	<div class = "row parent_div_for_the_page">
		<div class="col-lg-4">
			<div id="the_box_for_questions">

				<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScP1cnDcwFxnh_sfOXwCXmEkUPN0mpVcLp6OH2fpUBgo1S73Q/viewform?embedded=true" width="640" height="543" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				
			</div>
		</div>
		<div id="the_box_for_form" class="col-lg-8">
			<div id="the_form_container">
				<%-form_text%>
			</div>
			<br>
			<form id="id_for_post_of_new_doc" action="/saving_the_new_doc" method="POST">
				<input id="the_input_field_of_new_doc" type="hidden" name="span_induced_doc" >
			</form>
		</div>
	</div>

</body>
<!-- SELECTING SCRIPT -->
	<script>
		function getSelectedText() {
		  t = (document.all) ? document.selection.createRange().text : document.getSelection();

		  return t;
		}

		$('#the_box_for_form').mouseup(function() {
		  var selection = getSelectedText();
		  var selection_text = selection.toString();
		  console.log(selection_text);
		  // How do I add a span around the selected text?

		  var span = document.createElement('SPAN');
		  span.textContent = selection_text;

		  var range = selection.getRangeAt(0);
		  range.deleteContents();
		  range.insertNode(span);
		console.log($("#the_form_container").html());
			$("#the_input_field_of_new_doc").attr("value", $("#the_form_container").html().replace(/&lt;/g, '<').replace(/&gt;/g, '>')); 
		console.log($("#the_input_field_of_new_doc").attr("value"));
		});

		function submit_the_new_doc_value_func()
		{
			$("#id_for_post_of_new_doc").submit();
			console.log("THE BUTTON FOR SUBMIT ID WAS CLICKED")
		}
	</script>
</html>