<!DOCTYPE html>
<html>
<head>
	<title>Adding Questions</title>
	<!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/adding_question_css.css">
</head>
<body>
	<div class = "row parent_div_for_the_page">
		<div class="col-lg-4">
			
		</div>
		<div id="the_box_for_form" class="col-lg-8">
			<div id="the_form_container">
				<%-form_text%>
			</div>
		</div>

	</div>
</body>
</html>