<!DOCTYPE html>
<html>
<head>
	<title>Deceptiform</title>
	<!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/lawyer_form_submit.css">

</head>
<body>

	<div class="row" id="box_for_taking_form">

		<form>
				<h2 id="enter_the_form_heading">Enter the Form here.</h2>
				
				<br>
				
				<textarea placeholder="Enter your form here" rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
				
				<br>
				<br>


				<button type="button" class="btn btn-outline-info">Submit</button>

				<br>
				<br>

		</form>

	</div>

</body>	
</html>